@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    box-sizing: 0;
    
}

*:visited{
    text-decoration: none;
}

a{
    cursor: pointer;
    color: #020003;
}

main{
    min-height: 100vh;
}
