.listaForum{
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: #CDCDCD;
    border-radius: 24px 24px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}