.listaForum{
    width: 70%;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: #CDCDCD;
    border-radius: 24px 24px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 40px;

}

section>div>h2{
    font-weight: 500;
}

#forumIntro{
    display: flex;
    height: 268px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#divForum{
    display: flex;
    width: 100%;
    min-width: 620px;
    flex-direction: row;
    align-content: center;
    // justify-content: space-evenly;
}

.card{
    margin: 20px 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-bottom: #EBEBEB 2px solid;
    
}

.inputForum{
    background: #F0F0F0;
    border-radius: 8px;
    width: 80%;
    height: 45px;
    border-radius: 8px;
    border: none;
}

.card>div{
    margin-left: 10px;
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;    
}

.card>div>h4{
    font-weight: 500;
}

.cardComment{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    border-bottom: 2px solid #EBEBEB;
    margin-bottom: 20px;
}

#divSpinner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form>.mainBtn{
    width: 200px;
    font-size: 14px;
    margin: 10px 0;
}

.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#quantity{
    background: #F0F0F0;
    border-radius: 8px;
    width: 80%;
    height: 45px;
    border-radius: 8px;
    border: none; 
}

@media only screen and (max-width: 450px){
    #divForum{
        
        flex-wrap: wrap;
        max-width: 350px;
    }
    .sectionForum,.sectionForum>*{
        max-width: 350px;
    }

    .listaForum{
        max-width: 350px;
        margin: 0;
    }
}
