header{
    display: column;    
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    color: black;
}

header *, header *:visited{
    text-decoration: none;
}

#divLogos{
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    background: #7B23D4;
    width: 100%;
    height: 74px;
}

#divLogos>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#divLogos>div>*{
    margin: 0 15px;
}
#divLogos>div>button{
    font-size: 15px;
}