@import '../utils/variables.scss';

.profile-main{
    width: 100%;
    margin: 0;
    // background-color: blue;
    background-image: url('../../assets/bg.png');
    background-size: 600px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-x: 100%;
    background-position-y: -450%;
    & > .profile-main-container{
        width: 58%;
        height: auto;
        margin-inline: auto;
        margin-top: 5rem;
        // background-color: sandybrown;
        & > .profile-header{
            min-height: 18rem;
            // background-color: aquamarine;
            & > h1{
                font-family:$font-2;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 110%;
                letter-spacing: -1px;
                color: $color-3;
                padding: 2rem;
            }
            & > p{
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                font-family: $font-1;
                letter-spacing: 0.2px;
            }
        }
    }
    & > form{

        width: 100%;

     

        & > .profile-data-1{
            width: 100%;
            height: 25.625rem;
            background-color: $color-4;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        & > .profile-data-3{
            width: 100%;
            height: 38.625rem;
            background-color: $color-4;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 2rem;
        }

    }
}

.input-label{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1rem;
    & label{
        text-align: left;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 145%;
        margin-bottom: 1rem;
        color: #020003;
        
    }
    & input{
        width: 30.5rem;
        height: 3rem ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        padding: 8px 16px 8px 8px;
        gap: 8px;
        background: #F0F0F0;
        border-radius: 8px;
        border: none;
        outline: none;
        font-family: $font-1;
        color: #0a0a0a;
        font-weight: 400;
        font-size: 16px;
        text-align: center;

    }
    & .bg-white{
        background: #ffffff;
    }

    & select {
        width: 32rem;
        height: 4rem ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 16px 8px 8px;
        gap: 8px;
        background: #F0F0F0;
        border-radius: 8px;
        border: none;
        outline: none;
        font-family: $font-1;
        color: #0a0a0a;
        font-weight: 400;
        font-size: 16px;
        text-align: center;

        & option{
            margin: 40px;
            background: rgba(238, 238, 238, 0.3);
            color: $color-2;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
            border-radius: 8px;
        }

        ::selection{
            background-color: red;
            color: white;
        }
        
    }
}
.ceter-inputs{
    width: 58%;
    height: auto;
    // background-color: blue;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    margin-inline: auto;
    
}

.title-form{
    width: 100%;
    // background: blue;
    text-align: left;
    margin: 1rem;
    & > h3{
        margin: 0.5rem;
        font-size: 20px;
        font-weight: 400;
        color:#7C7C7C;
    }
   
}
.left-div{
    width: 60%;
    height: 100%;
    background-color: rgb(70, 245, 108);
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
}

.title-profile{
    font-family: $font-2;
    font-weight: 600;
    font-size: 40px;
    line-height: 135%;
    color: #FFFFFF;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.black{
    color: #080808;
}

.checkbox{
    // background-color: rgb(214, 175, 175);
    margin: 2rem 8rem;
    display: flex;
    flex-wrap: wrap;
   
    .left-check{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: row;

        & > input{
            box-sizing: border-box;
            // position: absolute;
            width: 22px;
            height: 16px;
            left: calc(50% - 16px/2);
            top: calc(50% - 16px/2);
             background: #FFFFFF;
            border: 1px solid #7C7C7C;
           
        }
        & label{
            font-family: $font-1;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            margin-left: 1rem;
            // display: flex;
            // align-items: center;
            color: #CDCDCD;
            text-align: justify;
        }
    }
}

.btn-cont{
    width: 100%;
    height: 10rem;
    // background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    & input{
        padding: 8px 32px;
        gap: 8px;
        background: $color-2;
        border: none;
        border-radius: 1rem;
        color: $color-1;
        font-weight: 500;
        font-size: 20px;
        line-height: 145%;
        /* identical to box height, or 29px */

        text-align: center;
        letter-spacing: 0.5px;
        cursor:pointer;
        transition: all 0.5s ease-in-out;
    }
    & input:hover{
        background:$color-hover;
    }
   
}